@font-face {
    font-family: 'P22UndergroundCYHeavyPC';
    src: url('P22UndergroundCYHeavyPC.eot');
    src: local('☞P22UndergroundCYHeavyPC'), local('P22UndergroundCYHeavyPC'),
        url('P22UndergroundCYHeavyPC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYHeavyPC.woff2') format('woff2'),
        url('P22UndergroundCYHeavyPC.woff') format('woff'),
        url('P22UndergroundCYHeavyPC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCY';
    src: url('P22UndergroundCY-Heavy.eot');
    src: local('☞P22UndergroundCY-Heavy'), local('P22UndergroundCY-Heavy'),
        url('P22UndergroundCY-Heavy.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCY-Heavy.woff2') format('woff2'),
        url('P22UndergroundCY-Heavy.woff') format('woff'),
        url('P22UndergroundCY-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYLightSC';
    src: url('P22UndergroundCYLightSC.eot');
    src: local('☞P22UndergroundCYLightSC'), local('P22UndergroundCYLightSC'),
        url('P22UndergroundCYLightSC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYLightSC.woff2') format('woff2'),
        url('P22UndergroundCYLightSC.woff') format('woff'),
        url('P22UndergroundCYLightSC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYBook';
    src: url('P22UndergroundCYBook.eot');
    src: local('☞P22UndergroundCYBook'), local('P22UndergroundCYBook'),
        url('P22UndergroundCYBook.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYBook.woff2') format('woff2'),
        url('P22UndergroundCYBook.woff') format('woff'),
        url('P22UndergroundCYBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYThinPCp';
    src: url('P22UndergroundCYThinPCp.eot');
    src: local('☞P22UndergroundCYThinPCp'), local('P22UndergroundCYThinPCp'),
        url('P22UndergroundCYThinPCp.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYThinPCp.woff2') format('woff2'),
        url('P22UndergroundCYThinPCp.woff') format('woff'),
        url('P22UndergroundCYThinPCp.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYDemiPCp';
    src: url('P22UndergroundCYDemiPCp.eot');
    src: local('☞P22UndergroundCYDemiPCp'), local('P22UndergroundCYDemiPCp'),
        url('P22UndergroundCYDemiPCp.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYDemiPCp.woff2') format('woff2'),
        url('P22UndergroundCYDemiPCp.woff') format('woff'),
        url('P22UndergroundCYDemiPCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYThin';
    src: url('P22UndergroundCYThin.eot');
    src: local('☞P22UndergroundCYThin'), local('P22UndergroundCYThin'),
        url('P22UndergroundCYThin.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYThin.woff2') format('woff2'),
        url('P22UndergroundCYThin.woff') format('woff'),
        url('P22UndergroundCYThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYMedSC';
    src: url('P22UndergroundCYMedSC.eot');
    src: local('☞P22UndergroundCYMedSC'), local('P22UndergroundCYMedSC'),
        url('P22UndergroundCYMedSC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYMedSC.woff2') format('woff2'),
        url('P22UndergroundCYMedSC.woff') format('woff'),
        url('P22UndergroundCYMedSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYBookPCp';
    src: url('P22UndergroundCYBookPCp.eot');
    src: local('☞P22UndergroundCYBookPCp'), local('P22UndergroundCYBookPCp'),
        url('P22UndergroundCYBookPCp.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYBookPCp.woff2') format('woff2'),
        url('P22UndergroundCYBookPCp.woff') format('woff'),
        url('P22UndergroundCYBookPCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYLight';
    src: url('P22UndergroundCYLight.eot');
    src: local('☞P22UndergroundCYLight'), local('P22UndergroundCYLight'),
        url('P22UndergroundCYLight.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYLight.woff2') format('woff2'),
        url('P22UndergroundCYLight.woff') format('woff'),
        url('P22UndergroundCYLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYProMedium';
    src: url('P22UndergroundCYProMedium.eot');
    src: local('☞P22UndergroundCYProMedium'), local('P22UndergroundCYProMedium'),
        url('P22UndergroundCYProMedium.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYProMedium.woff2') format('woff2'),
        url('P22UndergroundCYProMedium.woff') format('woff'),
        url('P22UndergroundCYProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYDemiSC';
    src: url('P22UndergroundCYDemiSC.eot');
    src: local('☞P22UndergroundCYDemiSC'), local('P22UndergroundCYDemiSC'),
        url('P22UndergroundCYDemiSC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYDemiSC.woff2') format('woff2'),
        url('P22UndergroundCYDemiSC.woff') format('woff'),
        url('P22UndergroundCYDemiSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYProBook';
    src: url('P22UndergroundCYProBook.eot');
    src: local('☞P22UndergroundCYProBook'), local('P22UndergroundCYProBook'),
        url('P22UndergroundCYProBook.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYProBook.woff2') format('woff2'),
        url('P22UndergroundCYProBook.woff') format('woff'),
        url('P22UndergroundCYProBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYMedPCp';
    src: url('P22UndergroundCYMedPCp.eot');
    src: local('☞P22UndergroundCYMedPCp'), local('P22UndergroundCYMedPCp'),
        url('P22UndergroundCYMedPCp.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYMedPCp.woff2') format('woff2'),
        url('P22UndergroundCYMedPCp.woff') format('woff'),
        url('P22UndergroundCYMedPCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYProLight';
    src: url('P22UndergroundCYProLight.eot');
    src: local('☞P22UndergroundCYProLight'), local('P22UndergroundCYProLight'),
        url('P22UndergroundCYProLight.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYProLight.woff2') format('woff2'),
        url('P22UndergroundCYProLight.woff') format('woff'),
        url('P22UndergroundCYProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYProHeavy';
    src: url('P22UndergroundCYProHeavy.eot');
    src: local('☞P22UndergroundCYProHeavy'), local('P22UndergroundCYProHeavy'),
        url('P22UndergroundCYProHeavy.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYProHeavy.woff2') format('woff2'),
        url('P22UndergroundCYProHeavy.woff') format('woff'),
        url('P22UndergroundCYProHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYMedium';
    src: url('P22UndergroundCYMedium.eot');
    src: local('☞P22UndergroundCYMedium'), local('P22UndergroundCYMedium'),
        url('P22UndergroundCYMedium.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYMedium.woff2') format('woff2'),
        url('P22UndergroundCYMedium.woff') format('woff'),
        url('P22UndergroundCYMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYThinSC';
    src: url('P22UndergroundCYThinSC.eot');
    src: local('☞P22UndergroundCYThinSC'), local('P22UndergroundCYThinSC'),
        url('P22UndergroundCYThinSC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYThinSC.woff2') format('woff2'),
        url('P22UndergroundCYThinSC.woff') format('woff'),
        url('P22UndergroundCYThinSC.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYBookSC';
    src: url('P22UndergroundCYBookSC.eot');
    src: local('☞P22UndergroundCYBookSC'), local('P22UndergroundCYBookSC'),
        url('P22UndergroundCYBookSC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYBookSC.woff2') format('woff2'),
        url('P22UndergroundCYBookSC.woff') format('woff'),
        url('P22UndergroundCYBookSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYProThin';
    src: url('P22UndergroundCYProThin.eot');
    src: local('☞P22UndergroundCYProThin'), local('P22UndergroundCYProThin'),
        url('P22UndergroundCYProThin.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYProThin.woff2') format('woff2'),
        url('P22UndergroundCYProThin.woff') format('woff'),
        url('P22UndergroundCYProThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYHeavySC';
    src: url('P22UndergroundCYHeavySC.eot');
    src: local('☞P22UndergroundCYHeavySC'), local('P22UndergroundCYHeavySC'),
        url('P22UndergroundCYHeavySC.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYHeavySC.woff2') format('woff2'),
        url('P22UndergroundCYHeavySC.woff') format('woff'),
        url('P22UndergroundCYHeavySC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYProDemi';
    src: url('P22UndergroundCYProDemi.eot');
    src: local('☞P22UndergroundCYProDemi'), local('P22UndergroundCYProDemi'),
        url('P22UndergroundCYProDemi.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYProDemi.woff2') format('woff2'),
        url('P22UndergroundCYProDemi.woff') format('woff'),
        url('P22UndergroundCYProDemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYDemiBold';
    src: url('P22UndergroundCYDemiBold.eot');
    src: local('☞P22UndergroundCYDemiBold'), local('P22UndergroundCYDemiBold'),
        url('P22UndergroundCYDemiBold.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYDemiBold.woff2') format('woff2'),
        url('P22UndergroundCYDemiBold.woff') format('woff'),
        url('P22UndergroundCYDemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYLightPCp';
    src: url('P22UndergroundCYLightPCp.eot');
    src: local('☞P22UndergroundCYLightPCp'), local('P22UndergroundCYLightPCp'),
        url('P22UndergroundCYLightPCp.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundCYLightPCp.woff2') format('woff2'),
        url('P22UndergroundCYLightPCp.woff') format('woff'),
        url('P22UndergroundCYLightPCp.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

